<nav class="flex flex-col gap-2">
    <NavLink class="btn" href="/">🏠 Domů</NavLink>
    <NavLink class="btn" href="/rezervace">📅 Rezervace</NavLink>
    <NavLink class="btn" href="/historie">🕓 Historie</NavLink>
    <NavLink class="btn" href="/obsazenost">🪑 Obsazenost</NavLink>
    <NavLink class="btn" href="/vytizenost">📊 Vytíženost</NavLink>
</nav>